@media print {
  
    /* Avoid page breaks in key elements */
    .columnWrapper {
      page-break-inside: avoid;
    }

    .iconLink {
        display: none !important;
    }

    .content {
        display: none !important;
    }

    .card {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .item {
        float: right !important;
        margin-right: 20px !important;
    }
    .printOnlyNotes{
        font-style: italic !important; 
        padding: 7px !important;
        display: block !important;
    }
  }

.printOnlyNotes {
    display: none;
}

.icon svg {
    width: 1.5rem;
    height: 1.5rem;
}

.iconLink svg {
    width: 0.8rem;
    height: 0.8rem;
    margin-bottom: 5px;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center; /* Aligns the title and icon vertically */
    gap: 8px; /* Adds space between title and icon */
}