@media print {
    .element {
        width: 50% !important;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
    }   
}

.element {
    margin-top: 15px;
}

.element div:first-child {
    font-weight: bold;
}