@media print {
  /* Avoid page breaks in key elements */
  .contentWrapper,
  .contentHeaderWork {
    page-break-inside: avoid;
  }

  .printNoBreak {
    page-break-inside: avoid !important;
  }
}

.contentWrapper {
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.tagWrapper {
  margin-top: 10px;
}

.contentHeader {
  margin-bottom: 10px;
}

.contentHeader .time {
  border: 1px var(--color-secondary) solid;
  color: var(--color-text-secondary);
  background-color: var(--color-secondary);
  font-weight: bold;
  border-radius: 2px;
  padding: 3px;
  display: inline-block;
  border-radius: 5px;
}

.contentHeader .title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contentHeaderWork {
  margin-top: 50px;
  font-size: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 8px -19px 20px -20px;
  border-radius: 5px;
  color: var(--color-secondary);
}
.contentHeaderWork .time {
  border: 2px var(--color-secondary) solid;
  font-weight: bold;
  border-radius: 2px;
  padding: 3px;
  display: inline-block;
  border-radius: 5px;
}

.contentHeaderWork .title {
  margin-top: 10px;
  font-weight: bold;
  margin-left: 10px;
}

.contentList li {
  margin-top: 10px;
}

.contentList {
  list-style-type: square;
}

.peopleIcon {
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 17px;
  float: right;
  font-weight: bold;
  color: var(--color-secondary);
}

.peopleIcon svg {
  font-size: 30px;
}

.techTag svg {
  width: 1rem;
  height: 1rem;
}

.techTag .anticon {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
