@media print {
  /* Avoid page breaks in key elements */
  .contentWrapper,
  .contentHeaderWork {
    page-break-inside: avoid;
  }

  .printNoBreak {
    page-break-inside: avoid !important;
  }

  .techTag {
    color: black !important;
  }

  .contentWrapper {
    padding: 5px !important;
  }

  .contentHeaderWork {
    margin-top: 10px !important;
    padding: 5px !important;
  }

  .contentHeaderWork .time {
    border: none !important;
  }

  .contentHeader .time {
    border: none !important;
    color: var(--color-secondary) !important;
  }

  .contentHeader .title {
    margin-top: 7px !important;
    margin-bottom: 4px !important;
    font-weight: bold;
  }

}

.contentWrapper {
  padding: 20px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}


.tagWrapper {
  margin-top: 10px;
}

.contentHeader {
  margin-bottom: 10px;
}

.contentHeader .time {
  border: 1px var(--color-secondary) solid;
  color: var(--color-text-secondary);
  background-color: var(--color-secondary);
  font-weight: bold;
  border-radius: 2px;
  padding: 3px;
  display: inline-block;
  border-radius: 5px;
}

.contentHeader .title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contentHeaderWork {
  margin-top: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  color: var(--color-secondary);
}
.contentHeaderWork .time {
  border: 2px var(--color-secondary) solid;
  font-weight: bold;
  border-radius: 2px;
  padding: 3px;
  display: inline-block;
  border-radius: 5px;
}

.contentHeaderWork .title {
  margin-top: 10px;
  font-weight: bold;
  margin-left: 10px;
}

.contentList li {
  margin-top: 10px;
}

.contentList {
  list-style-type: square;
}

.peopleIcon {
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 17px;
  float: right;
  font-weight: bold;
  color: var(--color-secondary);
}

.peopleIcon svg {
  font-size: 30px;
}

.techTag svg {
  width: 1rem;
  height: 1rem;
}

.techTag .anticon {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

