

.techTag {
  margin: 5px;
}

.techTag svg {
  width: 1rem;
  height: 1rem;
}

.techTag .anticon {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

@media print {
  .container {
    display: none;
  }
  
  .techTag {
    display: none;
  }
} 